#sisoogDonate_MainForm{
    width: auto !important;
}
#sisoogDonate_Form{
    width: 75%;
    display: flex;
    padding: 30px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    border-radius: 8px;
}
.sisoogDonate_FormTitle{
    width: 100%;
    text-align: center;
    font-weight: normal;
    background-color: #fff;
    padding: 24px;
    border-radius: 3px;
}
.sisoogDonate_FormTitle h4{
    margin: 0;
    color: #424242;
}
.sisoogDonate_FormTitle span{
    color: #9b4893;
    font-weight: bold;
}

.same_user_msg{
    font-size: 100%;
    vertical-align: middle;
    height: 100%;
    border-radius: 0;
    font-weight: lighter;
}
.same_user_msg>a{
    font-weight: bold;
}

#sisoogDonate_Message {
    border-right: 2px solid forestgreen !important;
    background-color: #eee !important;
    color: forestgreen !important;
    text-align: center !important;
    margin: 24px auto !important;
    line-height: 3 !important;
    font-size: 125% !important;
    font-family: vazir, sans-serif, Arial, Helvetica !important;
}
#sisoogDonate_Error {
    text-align: center !important;
    line-height: 2 !important;
    font-family: vazir, sans-serif, Arial, Helvetica !important;
    font-size: 115% !important;
}
#add_donate_frm{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100% !important;
    padding: 24px 8px !important;
    background-color: #ffffff;
    margin: 13px auto;
    border-radius: 3px;
}
#add_donate_frm input[type="text"] , #add_donate_frm select{
    width: 100%;
    color: #424242;
    background: #f5f5f5;
    border: 1px solid #bdbdbd;
    padding: 8px;
    margin-bottom: 24px;
}
#add_donate_frm input::placeholder{
    color: #bdbdbd;
}
#add_donate_frm input ,#add_donate_frm select ,#add_donate_frm option {
    font-family: vazir, sans-serif, Arial, Helvetica;
}
.sisoogDonate_FormItem {
    width: 100% !important;
    margin-top: 0 !important;
}
.sisoogDonate_FormItem.required label::after{
    content: "(الزامی)";
    color: #e80000;
    vertical-align: baseline;
    margin: 0 5px;
    font-size: 75%;
}
.sisoogDonate_ItemInput {
    width: 100% !important;
}
.sisoogDonate_ItemInput input {
    box-shadow: none !important;
    width: 100% !important;
}

.sisoogDonate_Submit{
    width:100%;
    background-color: #9b4893;
    color: #eee;
    border-radius: 0;
    text-align: center !important;
    margin: 13px auto;
}
.sisoogDonate_Submit:disabled{
    cursor: not-allowed;
}

.sisoogDonate_FormLabel {
    font-weight: bold;
    margin: 0;
}

input[name="input_amount"]{
    display:none;
    margin: 8px auto;
}
#sisoogDonate_Amount_Select{
    border: 1px solid #e0e0e0 !important;
    border-radius: 3px !important;
    color: #424242;
}

/* start ShowDonatesListPage */
.donatesList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0 24px;
}
.donatesList .donatesItem{
    padding: 0;
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 3px #e0e0e0;
    margin: 13px;
    /*margin: 13px 13px 13px auto;*/
}
.donatesList .donatesItem .card-body {
    padding: 0 13px;
}
.donatesList .donatesItem .card-name{
    text-align: center;
    font-size: 115%;
    color: #424242;
}
.donatesList .donatesItem .card-price{
    text-align: center;
    color: #9b4893;
    font-weight: bold;
    font-size: 125%;
    font-family: vazir, sans-serif, Arial, Helvetica;
}

.donatesList .donatesItem .card-footer{
    padding: 0 5px !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-family: vazir, sans-serif, Arial, Helvetica;
    background-color: #fafafa;
    border-top: none;
}
.donatesList .donatesItem .card-footer .card-date{
    text-align: center;
    font-family: vazir, sans-serif, Arial, Helvetica;
}
.donatesList .donatesItem .card-footer .card-desc{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 8px;
}
.donatesList .donatesItem .card-footer .card-desc img{
    width: 24px;
    height: auto;
    border-radius: 50px;
    margin: auto 0;
    text-align: left;
}
.donatesList .donatesItem .card-footer p{
    margin: 0;
    padding: 4px 8px;
    font-size: 115%;
}
.donatesList .donatesItem figure{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.donatesList .donatesItem figure img{
    width: 55px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #e0e0e0;
}

.donate_title {
    text-align: center;
    margin: 24px auto;
}
.donate_title p{
    text-align: center !important;
    padding: 0;
    margin: 0;
}

.donateListContainer{
    background-color: #fff;
    padding: 24px 0;
}
.donateListContainer .btn-group {
    margin-top: 24px;
}
.donateListContainer .btn-group a{
    background-color: transparent;
    color: #9b4893 !important;
    padding: 5px 24px;
    border: 1px solid #9b4893;
}
.donateListContainer .btn-group a.active{
    background-color: #9b4893;
    color: #EEEEEE !important;
}

#authors_list_table td ,#authors_list_table th{
    text-align: center;
    font-family: vazir, sans-serif, Arial, Helvetica;
}

#authors_list_table thead > tr {
    background-color: #424242;
}
#authors_list_table thead > tr th {
    color: #e0e0e0;
}

.paginate_btns {
    margin: 13px auto;
    text-align: left;
}
.paginate_btns a{
    padding: 3px 10px;
    color: #9b4893;
    background-color: transparent;
    font-weight: 700;
    font-size: 100%;
    margin: 3px;
    border: 1px solid #9b4893;
    font-family: vazir, sans-serif, Arial, Helvetica;
}
.paginate_btns a:hover , .paginate_btns a.active{
    color: #EEEEEE;
    background-color: #9b4893;
}
.sort_btns {
    padding: 8px 0;
}
.sort_btns a{
    font-weight: normal;
    font-size: 100%;
    color: blue;
    font-family: vazir, sans-serif, Arial, Helvetica;
}
.sort_btns a.current{
    font-weight: bold;
    color: #212121;
}
.authors_donates_container {
    background: #fff;
    padding: 50px 15px;
}
.authors_donates_container #authors_donates_title{
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin: 15px auto;
}

/* end ShowDonatesListPage */


@media screen and (max-width: 768px){
    #sisoogDonate_Form{
        width: 100%;
        flex-direction: column-reverse;
    }
}
